<h3>Average Rating</h3> {{ avgRating | async }}


<!-- <h3>Reviews</h3>
<div *ngFor="let star of stars | async">

  {{ star.userId }} gave {{ star.movieId }} {{ star.value }} stars

</div>


<h3>Post your Review</h3> -->

<!-- <star-rating
[hoverEnabled]="true"
(ratingChange)="onRatingChange($event)">
</star-rating> -->


<star-rating speed="slow" starType="svg" (ratingChange)="onRatingChange($event)"  [rating]="2.5" [showHalfStars]="true"> 
   </star-rating>


<!-- <fieldset class="rating">
  <div  *ngFor="let num of [5, 4, 3, 2, 1]">
      <input (click)="starHandler(num)" 
            [id]="'star'+num"
            [value]="num-0.5"
            name="rating" 
            type="radio" />

      <label class="full" [for]="'star'+num"></label>
      <input (click)="starHandler(num-0.5)" 
             [value]="num-0.5"
             [id]="'halfstar'+num" 
             name="rating" 
             type="radio"  />

      <label class="half" [for]="'halfstar'+num"></label>
  </div>
</fieldset> -->
