:host {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  h1 {
    margin: 0;
    padding: 1em;
  }

  .spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  img {
    height: auto;
    max-width:100%;
  }

  // .img-md{
  //   width: 100%;
  //   height: auto;
  //   max-width: 750px;
  // }

  .overlay-content {
    padding: 1em;
    width: 100%;
    width: 100%;
  }

      
  .sec1 {
    width: 100%;
    height: 100%;
    background: red;
    color:white;
    text-transform: uppercase;
    text-align:center
  }
  
  .sec2 {
    width: 100%;
    height: 100%;
    background: yellow;
    color:blue;
  }




  