<div fxLayout="row" fxFlexFill fxLayoutAlign="start center" class="searchFormWrapper">

  <div fxFlex class="inputWrapper ">
    <!-- <input matInput style='width:100%'  class="searchInput"> -->
    <input style='width:100%' class="searchInput" type="text" placeholder="Search" tabindex="-1" 
    aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.searchText">
        {{option.searchText}}
      </mat-option>
    </mat-autocomplete>
  </div>

  <button mat-icon-button class="searchSubmitButton" tabindex="-1">
      <mat-icon aria-label="Search">search</mat-icon>
    </button>
</div>