<div  fxflex="500px" fxhide="" fxshow.gt-md="" 
style="flex: 1 1 500px; box-sizing: border-box; max-width: 500px; min-width: 500px; display: block;">
    <div  class="search-wrapper focus" fxflex="" fxlayout="row" 
    style="flex: 1 1 0%; box-sizing: border-box; flex-direction: row; display: flex;">
      <mat-icon  class="search-icon mat-icon material-icons" role="img" aria-hidden="true">search</mat-icon>
      <input  autocomplete="off" class="search-input" placeholder="Search..."
        spellcheck="false" type="search">
      <div  class="search-dropdown mat-elevation-z1">
        <!---->
        <!---->
        <div  class="content recents ng-star-inserted" 
        fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
          <div  class="recently" fxflex="" fxlayout="column" style="flex: 1 1 0%; box-sizing: border-box; flex-direction: column; display: flex;">
            <div  class="heading" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
              <mat-icon  class="icon mat-icon material-icons" role="img" aria-hidden="true">restore</mat-icon> Recently Visited </div>
            <div  class="items">
              <!---->
              <div  class="item mat-ripple ng-star-inserted" matripple="" tabindex="0">Form Wizard </div>
              <div  class="item mat-ripple ng-star-inserted" matripple="" tabindex="0">Inbox </div>
              <div  class="item mat-ripple ng-star-inserted" matripple="" tabindex="0">All-In-One Table </div>
              <div  class="item mat-ripple ng-star-inserted" matripple="" tabindex="0">WYSIWYG Editor </div>
              <div  class="item mat-ripple ng-star-inserted" matripple="" tabindex="0">Google Maps </div>
            </div>
          </div>
          <div  class="frequently" fxflex="" fxflexoffset="16px" fxlayout="column" style="flex: 1 1 0%; box-sizing: border-box; margin-left: 16px; flex-direction: column; display: flex;">
            <div  class="heading" fxlayout="row" fxlayoutalign="start center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
              <mat-icon  class="icon mat-icon material-icons" role="img" aria-hidden="true">youtube_searched_for</mat-icon> Frequently Visited </div>
            <div  class="items">
              <div  class="item mat-ripple" matripple="" tabindex="0">Form Elements</div>
              <div  class="item mat-ripple" matripple="" tabindex="0">Form Wizard</div>
              <div  class="item mat-ripple" matripple="" tabindex="0">WYSIWYG Editor</div>
              <div  class="item mat-ripple" matripple="" tabindex="0">Google Maps</div>
              <div  class="item mat-ripple" matripple="" tabindex="0">Material Dialog</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>