   .example-card {
       max-height: 200px;
       padding: 5px 5px 0px 0px;
    }
   
    .example-header-image {
      background-size: cover;
    }
    mat-card {
      margin-top:25px;
    }
  
    .container {
      overflow-y: scroll;
    }
  
    p {
      font-family: Lato;
    }