.bounds {
  background-color:rgb(9, 2, 15);
   max-height :500px;
   overflow: hidden;
}
img {
   width: 100%;
}


    
    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
