.bounds {
  background-color:rgb(9, 2, 15);
   max-height :500px;
   overflow: hidden;
}
img {
   width: 100%;
}



.example-card {
    max-height: 150px;
    padding: 5px 5px 0px 0px;
  }


    .image-view{
     display: inline-block;
     height: 150px;
     overflow: hidden;
     padding: 5px;
    }
  
    
    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
