mat-card {
  margin: 10px 0px 20px 0px;
}

.example-card {
    height: 150px;
    padding: 5px 5px 0px 0px;
    background-color:rgb(239, 242, 247);  
  }

  .image-view{
   display: inline-block;
   height: 150px;
   overflow: hidden;
   padding: 5px;
  }
  


