<!-- <h1>insert your images</h1>
<mat-card>
    <div>
        <input type="file" (change)="uploadFile($event)">
        <img width="200px" *ngFor="let item of album.imageUrls" [src]="item" alt="album image profile">
    </div>




    <mat-card-actions align="right">
        <button mat-button (click)="saveAlbum(album)">Save</button>
    </mat-card-actions>
</mat-card> -->



<!-- <div *ngIf="currentUpload">
    <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
    </div>
    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
    <mat-progress-bar mode="determinate" [value]="currentUpload?.progress"> </mat-progress-bar>
</div> -->



<app-image-upload [max]="30" [buttonCaption]="'Select Images'" [dropBoxMessage]="'Drop your images here!'" (removed)="onRemovedFile($event)"
    (fileChange)="onUploadFileChange($event)">
</app-image-upload>

<!-- <label>
    <input type="file" (change)="uploadMulti($event)" multiple>
</label> -->


<button [disabled]="!(currentUpload?.progress === 100)" mat-button (click)="saveAlbum(album)">Save</button>