<gallery-view
  [images]="images"
  [conf]="conf"
  (onOpen)="galleryOpened($event)"
  (onClose)="galleryClosed()"
  (onImageClicked)="galleryImageClicked($event)"
  (onImageChange)="galleryImageChanged($event)"
  (onDelete)="deleteImage($event)">
</gallery-view>

<gallery-view-mobile
  [images]="images"
  [conf]="conf"
  (onOpen)="galleryOpened($event)"
  (onClose)="galleryClosed()"
  (onImageClicked)="galleryImageClicked($event)"
  (onImageChange)="galleryImageChanged($event)"
  (onDelete)="deleteImage($event)">
</gallery-view-mobile>
