<div fxLayout="row">
  <div fxFlex>
    <button mat-button color="primary">SHOW ALL COMMENTS </button>
  </div>
  <div fxFlex=" 1 1 auto">
    <!-- <mat-icon svgIcon="thumbs-up"></mat-icon> -->
  </div>
</div>

<div class="comment-content"  [style.max-height.px]="commentMaxHieght -200" >
  <div class="content" fxLayout="row" fxFlexFill>
    <div fxFlex class="sec1">
      <div fxLayoutAlign="start center" class="comment-user-image"></div>
    </div>
    <div fxFlex=" 1 1 auto" fxLayoutAlign="start" class="sec2">
      Hi Steve, tks for ur video. Great! I know there are more than 100 of varieties of traditional rice in SL with different medicinal
      qualities. These come from ancient times & nowadays not freely available. Once I wz able to participate in a traditional
      food festival at a star class hotel by the veteran in traditional food in SL. I tasted Tea processed from Jack tree
      leaves with jaggery & many more. How lucky I am. So great, no words...So rare experience.
    </div>
  </div>

  <div class="content" fxLayout="row" fxFlexFill>
    <div fxFlex class="sec1">
      <div fxLayoutAlign="start " class="comment-user-image"></div>
    </div>
    <div fxFlex=" 1 1 auto" fxLayoutAlign="start center" class="sec2">
      Hi Steve, tks for ur video. Great! I know there are more than 100 of 
    </div>
  </div>
  <div class="content" fxLayout="row" fxFlexFill>
    <div fxFlex class="sec1">
      <div fxLayoutAlign="start " class="comment-user-image"></div>
    </div>
    <div fxFlex=" 1 1 auto" fxLayoutAlign="start center" class="sec2">
      varieties of traditional rice in SL with different medicinal
    </div>
  </div>
  <div class="content" fxLayout="row" fxFlexFill>
    <div fxFlex class="sec1">
      <div fxLayoutAlign="start " class="comment-user-image"></div>
    </div>
    <div fxFlex=" 1 1 auto" fxLayoutAlign="start center" class="sec2">
      Hi Steve, of varieties of traditional rice in SL with different medicinal
    </div>
  </div>

</div>

<div class="comment-box" fxLayout="row" fxFlexFill>
  <div fxFlex class="sec1">
    <div fxLayoutAlign="start center" class="comment-user-image"></div>
  </div>
  <div fxFlex=" 1 1 auto" fxLayoutAlign="start center" class="sec2">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </div>
</div>