<div *ngIf=" (auth.user | async ) ?.uid !== auth.tempUid; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <mat-card>
    <h1>Hi GUEST</h1>
    <h1>Login to get started...</h1>

    <mat-card-actions align="left">
      <button mat-raised-button (click)="auth.googleLogin()">
        <i class="fa fa-google"></i> login with Google
      </button>
      <button mat-raised-button (click)="auth.facebookLogin()">
        <i class="fa fa-google"></i> login with Facebook
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <mat-card>
    <div *ngIf="auth.user | async as user">
      <h1>Hi {{ user.displayName }}</h1>
      <br>
      <h3> Upload your latest image and become a famous modler </h3>
      <img [src]="user.photoURL">
      <p>UID: {{ user.uid }}</p>
      <mat-card-actions align="left">
        <button mat-raised-button (click)="auth.signOut()">Logout</button>
      </mat-card-actions>
    </div>
  </mat-card>
</ng-template>


<!-- <mat-card>
  <div>
    <mat-card-actions align="left">
      <fb-share [size]="'large'" [layout]="'button'" href="https://github.com/zyra/ng2-facebook-sdk/"></fb-share>
      <button mat-raised-button (click)="share('a')">shere</button>
    </mat-card-actions>
  </div>
</mat-card> -->


   <!--
      <fb-comments href="https://www.facebook.com/zuck" ></fb-comments>
      <fb-like href="https://www.facebook.com/zuck"></fb-like>
      <fb-comment-embed href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=1070233703036185" width="500"></fb-comment-embed>
      <fb-page href="https://facebook.com/facebook"></fb-page>
      <fb-quote></fb-quote>
      <fb-save uri="https://github.com/zyra/ng2-facebook-sdk/"></fb-save> 
    -->