<div *ngIf=" (auth.user | async ) ?.uid !== auth.tempUid;">
  <mat-card>
    <div fxLayout="row" fxFlexFill>
      <div fxFlex="0 1 auto" class="image-section">

        <div fxLayout="column" fxFlexFill>
          <div fxFlex>
            <img class="avatar" [src]="(auth.user | async)?.photoURL">
          </div>
          <div fxFlex>

          </div>
        </div>

      </div>
      <div fxFlex class="infor-section">
        <p>Hi {{ (auth.user | async)?.displayName }}</p>
        <button mat-raised-button (click)="auth.signOut()">Logout</button>
      </div>
    </div>
  </mat-card>
</div>




<!-- <mat-card albums$ >

</mat-card> -->

<mat-card *ngFor="let album of albums$ | async">

  <mat-card-header>
    <mat-card-title>{{album.name}}</mat-card-title>
    <mat-card-subtitle>{{album.description}}</mat-card-subtitle>
  </mat-card-header>
  <div fxLayout="row" style="overflow: hidden; padding-top: 5px">
    <div fxFlex="0 1 auto" class="image-contaner" fxLayoutAlign="start center" *ngFor="let item of album.imageUrls; let i = index">
      <img style="min-width: 200px; min-height: 200px" class="example-card" [src]="item.url.replace('uploads', 'resized')" alt="album image profile">
    </div>
  </div>
  <mat-card-actions>
    <button mat-button (click)="editAlbum(album.id)" >EDIT</button>
  </mat-card-actions>

</mat-card>



<div *ngIf=" (auth.user | async ) ?.uid === auth.tempUid;">
  <app-sign-up></app-sign-up>
</div>