.mat-card {
    margin-top: 20px;
}

.avatar {
    width: 100px;
    min-width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }

  .bounds {
    background-color:#ddd;
    height :800px;
  }
  
  .infor-section {
    // background: red;
    // color:white;
    text-transform: uppercase
  }
  
  .image-section {
    // background: yellow;
    // color:blue;
    text-align: start;
  }
  
